@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #0a0a0a;
  transition: 1s;
  color: #fff;
}

.box-container {
  width: 1270px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  transition: 1s;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: none !important;
}

textarea:focus,
input:focus {
  outline: none !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Trigger menu overly */
.hidden {
  display: none !important;
}
.app-menu-trigger {
  display: flex !important;
}

.trigger-menu {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

/* overly */
.overly {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.7;
  transform-origin: left;
  transform: scaleX(1);
  transition: 1s;
  visibility: visible;
  z-index: 999;
}
.overly-out {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: 1s;
  visibility: hidden;
  z-index: 999;
}

.ant-spin-dot-item {
  background-color: #fff !important;
}
.ant-input-affix-wrapper,
input[type="number"],
input[type="password"],
input[type="email"],
input[type="text"] {
  min-height: 50px !important;
  border-radius: 0px !important;
  border: none !important;
  background: #171717 !important;
  border-radius: 5px;
  border: none;
  color: white;
}

.ant-input-password-icon {
  color: #fff !important;
}

/* ----------------------------ANT DESIGN TABLE------------------------- */

.table-wrap {
  background: #171717 !important;
  border-radius: 7px;
}
.dark-table {
  background: #171717 !important;
}

.dark-table .ant-table {
  background: #171717 !important;
}

.dark-table .ant-table-thead > tr > th {
  background: #171717 !important;
  color: white !important;
  border-color: #222 !important;
}

.dark-table .ant-table-tbody > tr > td {
  background: #171717 !important;
  color: white !important;
  border-color: #222 !important;
}

.dark-table .ant-table-tbody > tr:hover {
  background: #171717 !important;
}

.dark-table .ant-table-footer {
  background: #171717 !important;
  color: white !important;
}

:where(.css-dev-only-do-not-override-a6nz8w).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
:where(.css-dev-only-do-not-override-a6nz8w).ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  position: absolute;
  top: 50%;
  inset-inline-end: 0;
  width: 1px;
  height: 1.6em;
  background-color: transparent !important;
  transform: translateY(-50%);
  transition: background-color 0.2s;
  content: "";
}

/* ----------------------------ANT DESIGN ACTIVE TABS------------------------- */
.ant-tabs {
  padding: 15px !important;
}
.ant-tabs-tab {
  width: 120px;
  padding: 15px;
  border-radius: 5px 5px 0 0;
}
.ant-tabs-tab .ant-tabs-tab-btn {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

:where(.css-dev-only-do-not-override-a6nz8w).ant-tabs-top
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-a6nz8w).ant-tabs-bottom
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-a6nz8w).ant-tabs-top
  > div
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-a6nz8w).ant-tabs-bottom
  > div
  > .ant-tabs-nav::before {
  position: absolute;
  right: 0;
  left: 0;
  border-bottom: 1px solid #222222 !important;
  content: "";
}

/* ----------------------------ANT DESIGN INPUT------------------------- */

.edit-profile-info input[type="text"],
.booster-plan input[type="text"] {
  border: 1px solid #fff !important;
}

.ant-input-prefix input {
  border-color: transparent !important;
}

::placeholder {
  color: #636363 !important;
}

.faqs-input input[type="text"],
.faqs-input textarea {
  background-color: #171717 !important;
  border: 1px solid #fff !important;
  color: #fff;
}

.ant-tabs-tab-active {
  background: #000 !important;
  color: #fff !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
  text-shadow: 0 0 0.25px currentcolor;
}
